/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.DS_Store
Thumbs.db
public/uploads/*
app/config/database.php
sync_vendor_files.sh
sync_all
.idea
..bfg-report
www-bikeblacklist.sublime-project
www-bikeblacklist.sublime-workspace
sync_stage
sync_vendor_stage.sh
