/app/config/app.php
/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.DS_Store
Thumbs.db
public/uploads/*
app/config/database.php
sync_vendor_files.sh
sync_all
sync_stage
sync_vendor_stage.sh
app/config/packages/sammyk/laravel-facebook-sdk/config.php
app/config/packages/thujohn/twitter/config.php